name: Test

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:

        php-version:
        - "7.4"
        - "8.0"
        - "8.1"
        dependencies:
        - lowest
        - highest
        exclude:
          # ringphp does not support PHP 8.1
          - php-version: '8.1'
            dependencies: 'lowest'
    steps:
    - uses: actions/checkout@v2
  
    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: ${{ matrix.php-version }}
        tools: composer:v2
        coverage: xdebug

    - name: Validate composer.json and composer.lock
      run: composer validate

    - name: Set composer platform version
      if: matrix.php-version == '8.1'
      run: composer config platform.php 8.0.9

    - name: Install lowest dependencies with composer
      if: matrix.dependencies == 'lowest'
      run: composer update --no-ansi --no-interaction --no-progress --prefer-lowest

    - name: Install highest dependencies with composer
      if: matrix.dependencies == 'highest'
      run: composer update --no-ansi --no-interaction --no-progress

    - name: Run PHPUnit
      run: vendor/bin/phpunit --coverage-clover=coverage.xml
    
    - name: Upload Codecov
      if: matrix.php-version == '7.4' && matrix.dependencies == 'highest'
      uses: codecov/codecov-action@v1
      with:
        file: ./coverage.xml
  static-analyse:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: "7.4"
          tools: composer:v2
          coverage: xdebug

      - name: Install dependencies
        run: composer install

      - name: Run PHP-CS-Fixer
        run: vendor/bin/php-cs-fixer fix --dry-run

      - name: Run PHP-CS-Fixer
        run: vendor/bin/phpstan
  infection-php:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: "7.4"
          tools: composer:v2
          coverage: xdebug

      - name: Install dependencies
        run: composer install

      - name: Run PHP-CS-Fixer
        run: vendor/bin/infection